@import "tailwindcss";
/*---break---  */
@plugin "tailwindcss-animate";
/* @import "tw-animate-css"; */
/*---break---  */
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@font-face {
  font-family: clashBold;
  src: url(/font/ClashGrotesk-Bold.woff2);
}
@font-face {
  font-family: clashSemiBold;
  src: url(/font/ClashGrotesk-Semibold.woff2);
}
@font-face {
  font-family: clashMedium;
  src: url(/font/ClashGrotesk-Medium.woff2);
}
@font-face {
  font-family: clashRegular;
  src: url(/font/ClashGrotesk-Regular.woff2);
}
@font-face {
  font-family: clashLight;
  src: url(/font/ClashGrotesk-Light.woff2);
}
@font-face {
  font-family: clashExtraLight;
  src: url(/font/ClashGrotesk-Extralight.woff2);
}
@font-face {
  font-family: clashVariable;
  src: url(/font/ClashGrotesk-Variable.woff2);
}
/*!  <---------- clash grotesk font END---------->  */

/*todo  <---------- generalSans font---------->  */
@font-face {
  font-family: generalBold;
  src: url(/font/GeneralSans-Bold.woff2);
}
@font-face {
  font-family: generalSemiBold;
  src: url(/font/GeneralSans-Semibold.woff2);
}
@font-face {
  font-family: generalMedium;
  src: url(/font/GeneralSans-Medium.woff2);
}
@font-face {
  font-family: generalRegular;
  src: url(/font/GeneralSans-Regular.woff2);
}
@font-face {
  font-family: generalLight;
  src: url(/font/GeneralSans-Light.woff2);
}
@font-face {
  font-family: generalExtraLight;
  src: url(/font/GeneralSans-Extralight.woff2);
}
@font-face {
  font-family: generalVariable;
  src: url(/font/GeneralSans-Variable.woff2);
}
/*!  <---------- generalSans font END---------->  */

@font-face {
  font-family: switzerBlack;
  src: url(/font/Switzer-Black.woff2);
}
@font-face {
  font-family: switzerExtraBold;
  src: url(/font/Switzer-Extrabold.woff2);
}
@font-face {
  font-family: switzerBold;
  src: url(/font/Switzer-Bold.woff2);
}
@font-face {
  font-family: switzerSemiBold;
  src: url(/font/Switzer-Semibold.woff2);
}
@font-face {
  font-family: switzerMedium;
  src: url(/font/Switzer-Medium.woff2);
}
@font-face {
  font-family: switzerRegular;
  src: url(/font/Switzer-Regular.woff2);
}
@font-face {
  font-family: switzerLight;
  src: url(/font/Switzer-Light.woff2);
}
@font-face {
  font-family: switzerThin;
  src: url(/font/Switzer-Thin.woff2);
}
@font-face {
  font-family: switzerVariable;
  src: url(/font/Switzer-Variable.woff2);
}

@font-face {
  font-family: gilThin;
  src: url(/font/Gilroy-Thin.woff2);
}
@font-face {
  font-family: gilUltraLight;
  src: url(/font/Gilroy-UltraLight.woff2);
}
@font-face {
  font-family: gilLight;
  src: url(/font/Gilroy-Light.woff2);
}
@font-face {
  font-family: gilRegular;
  src: url(/font/Gilroy-Regular.woff2);
}
@font-face {
  font-family: gilMedium;
  src: url(/font/Gilroy-Medium.woff2);
}
@font-face {
  font-family: gilSemiBold;
  src: url(/font/Gilroy-SemiBold.woff2);
}
@font-face {
  font-family: gilBold;
  src: url(/font/Gilroy-Bold.woff);
}
@font-face {
  font-family: gilExtraBold;
  src: url(/font/Gilroy-ExtraBold.woff);
}

@font-face {
  font-family: gilBlack;
  src: url(/font/Gilroy-Black.woff);
}
@font-face {
  font-family: gilHeavy;
  src: url(/font/Gilroy-Heavy.woff);
}
@font-face {
  font-family: droidSans;
  src: url(/font/DroidSansMono.woff2);
}

@font-face {
  font-family: mangoThin;
  src: url(/font/MangoGrotesque-Thin.woff2);
}
@font-face {
  font-family: mangoLight;
  src: url(/font/MangoGrotesque-Light.woff2);
}
@font-face {
  font-family: mangoRegular;
  src: url(/font/MangoGrotesque-Regular.woff2);
}
@font-face {
  font-family: mangoMedium;
  src: url(/font/MangoGrotesque-Medium.woff2);
}
@font-face {
  font-family: mangoSemiBold;
  src: url(/font/MangoGrotesque-SemiBold.woff2);
}
@font-face {
  font-family: mangoBold;
  src: url(/font/MangoGrotesque-Bold.woff2);
}
@font-face {
  font-family: mangoExtraBold;
  src: url(/font/MangoGrotesque-ExtraBold.woff2);
}
@font-face {
  font-family: against;
  src: url(/font/against\ regular.woff2);
}
@font-face {
  font-family: galter;
  src: url(/font/Galter.woff2);
}
@font-face {
  font-family: lamoric;
  src: url(/font/Lamoric\ Rowen\ TTF.woff2);
}

@theme {
  --font-against: against, "sans-serif";
  --font-galter: galter, "sans-serif";
  --font-lamoric: lamoric, "sans-serif";
  --font-clashBold: clashBold, "sans-serif";
  --font-clashSemiBold: clashSemiBold, "sans-serif";
  --font-clashMedium: clashMedium, "sans-serif";
  --font-clashRegular: clashRegular, "sans-serif";
  --font-clashLight: clashLight, "sans-serif";
  --font-clashExtraLight: clashExtraLight, "sans-serif";
  --font-clashVariable: clashVariable, "sans-serif";
  --font-generalBold: generalBold, "sans-serif";
  --font-generalSemiBold: generalSemiBold, "sans-serif";
  --font-generalMedium: generalMedium, "sans-serif";
  --font-generalRegular: generalRegular, "sans-serif";
  --font-generalLight: generalLight, "sans-serif";
  --font-generalExtraLight: generalExtraLight, "sans-serif";
  --font-generalVariable: generalVariable, "sans-serif";
  --font-switzerBlack: switzerBlack, "sans-serif";
  --font-switzerExtraBold: switzerExtraBold, "sans-serif";
  --font-switzerSemiBold: switzerSemiBold, "sans-serif";
  --font-switzerMedium: switzerMedium, "sans-serif";
  --font-switzerRegular: switzerRegular, "sans-serif";
  --font-switzerLight: switzerLight, "sans-serif";
  --font-switzerThin: switzerThin, "sans-serif";
  --font-switzerVariable: switzerVariable, "sans-serif";
  --font-gilThin: gilThin, "sans-serif";
  --font-gilUltraLight: gilUltraLight, "sans-serif";
  --font-gilLight: gilLight, "sans-serif";
  --font-gilRegular: gilRegular, "sans-serif";
  --font-gilMedium: gilMedium, "sans-serif";
  --font-gilSemiBold: gilSemiBold, "sans-serif";
  --font-gilBold: gilBold, "sans-serif";
  --font-gilExtraBold: gilExtraBold, "sans-serif";
  --font-gilBlack: gilBlack, "sans-serif";
  --font-gilHeavy: gilHeavy, "sans-serif";
  --font-droidSans: droidSans, "sans-serif";
  --font-mango-thin: mangoThin, "sans-serif";
  --font-mango-light: mangoLight, "sans-serif";
  --font-mango-regular: mangoRegular, "sans-serif";
  --font-mango-medium: mangoMedium, "sans-serif";
  --font-mango-semiBold: mangoSemiBold, "sans-serif";
  --font-mango-bold: mangoBold, "sans-serif";
  --font-mango-extraBold: mangoExtraBold, "sans-serif";
  --font-mango-black: mangoBlack, "sans-serif";
}

/*---break---  */

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/*---break---  */

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/*---break---  */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
