.log-in-img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  filter: blur(15px);
  transform: scale(1.5);
}
.sign-in-img {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
/* .label {
  position: absolute;
  top: 14px;
  left: 0;
  font-size: 12px;
  color: #777;
  pointer-events: none;
  transition: all 0.25s ease;
} */

/* .email.active .label {
  top: -6px;
  font-size: 10px;
  color: #000;
} */

.stagger-item {
  transform: translateX(-100px);
  opacity: 0;
}
.stagger-item-1 {
  transform: translateX(100px);
  opacity: 0;
}
.logo {
  transform-style: preserve-3d;
  transform: perspective(200px);
}
.logo .title {
  transform: translateZ(-200px) rotateX(-95deg);
  opacity: 0;
  transform-origin: bottom;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: fit-content;
  background: radial-gradient(circle closest-side, #000 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: loading 1s infinite alternate linear;
}

.loader::before {
  content: "Loading...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes loading {
  100% {
    background-position: left;
  }
}
